h1 {font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    padding-left: 10px;
}

.title {display: flex;
    align-items: center;
    background-image: url(Physics.jpg);
    height: 10%;
background-color: rgba(216, 216, 216, 0.932);
background-blend-mode: overlay;}

.title img {height: 80px;}

p {font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
    font-weight: bold;}

.Topics1 {display: flex;
        justify-content: center;
        gap: 20px;
        padding: 20px;
    }

#Vectors {width:250px;
    font-size: 30px;
    border: 3px solid darkblue;
    padding: 10px;
}

#Vectors a {color:cadetblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    text-decoration: none;
    display: block;
    text-align: center;
    padding:10px
}

#Vectors a:hover {color:black;
    background-color: green;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    display: block;
    text-align: center;
    padding:10px;}

#MotionStraight {width:250px;
    font-size: 30px;
    border: 3px solid darkblue;
    padding: 10px;
}

#MotionStraight a {color:cadetblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    text-decoration: none;
    display: block;
    text-align: center;
    padding:10px
}

#MotionStraight a:hover {color:black;
    background-color: green;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    display: block;
    text-align: center;
    padding:10px;}

#Motion2D {width:250px;
    font-size: 30px;
    border: 3px solid darkblue;
    padding: 10px;
}

#Motion2D a {color:cadetblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    text-decoration: none;
    display: block;
    text-align: center;
    padding:10px
}

#Motion2D a:hover {color:black;
    background-color: green;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    display: block;
    text-align: center;
    padding:10px;}

.Topics2 {display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;}

#Newton {width:250px;
    font-size: 30px;
    border: 3px solid darkblue;
    padding: 10px;}

#Newton a {color:cadetblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    text-decoration: none;
    display: block;
    text-align: center;
    padding:10px
}

#Newton a:hover {color:black;
    background-color: green;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    display: block;
    text-align: center;
    padding:10px;}

#Energy {width:250px;
    font-size: 30px;
    border: 3px solid darkblue;
    padding: 10px;}

#Energy a {color:cadetblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    text-decoration: none;
    display: block;
    text-align: center;
    padding:10px}

#Energy a:hover {color:black;
    background-color: green;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    display: block;
    text-align: center;
    padding:10px;}

#Momentum {width:250px;
    font-size: 30px;
    border: 3px solid darkblue;
    padding: 10px;}

#Momentum a {color:cadetblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    text-decoration: none;
    display: block;
    text-align: center;
    padding:10px}

#Momentum a:hover {color:black;
    background-color: green;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    display: block;
    text-align: center;
    padding:10px;}

.Topics3 {display: flex;
        justify-content: center;
        gap: 20px;
        padding: 20px;}

#Rotation {width:250px;
    font-size: 30px;
    border: 3px solid darkblue;
    padding: 10px;}

#Rotation a {color:cadetblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    text-decoration: none;
    display: block;
    text-align: center;
    padding:10px}


#Rotation a:hover {color:black;
    background-color: green;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    display: block;
    text-align: center;
    padding:10px;}

#Dynamics {width:250px;
    font-size: 30px;
    border: 3px solid darkblue;
    padding: 10px;}

#Dynamics a {color:cadetblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    text-decoration: none;
    display: block;
    text-align: center;
    padding:10px}

#Dynamics a:hover {color:black;
    background-color: green;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    display: block;
    text-align: center;
    padding:10px;}

#Equilibrium {width:250px;
    font-size: 30px;
    border: 3px solid darkblue;
    padding: 10px;}

#Equilibrium a {color:cadetblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    text-decoration: none;
    display: block;
    text-align: center;
    padding:10px}

#Equilibrium a:hover {color:black;
    background-color: green;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    display: block;
    text-align: center;
    padding:10px;}

#Gravitation {width:250px;
    font-size: 30px;
    border: 3px solid darkblue;
    padding: 10px;}

#Gravitation a {color:cadetblue;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    text-decoration: none;
    display: block;
    text-align: center;
    padding:10px}

#Gravitation a:hover {color:black;
    background-color: green;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none;
    display: block;
    text-align: center;
    padding:10px;}